.secondary {
  width: 300px;
  height: 60px;
  background-color: white;
  color: black;
  font-size: 50px;
  border: 1px solid white;
  cursor: pointer;
  font-family: Cormorant;
}

.secondary:hover {
  text-decoration: underline;
}

.primary {
  width: 300px;
  height: 60px;
  background-color: white;
  color: black;
  font-size: 50px;
  border: 1px solid white;
  cursor: pointer;
  font-family: Cormorant;
  text-decoration: underline;
}