.container{
    text-align: center;
}

.container > h3{
    position: absolute;
    width: 1205px;
    height: 84px;
    left: -385px;
    top: 218px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 24px;
    /* or 38% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.label {
    width: 100%;
}

.label > h2 {
    font-size: 64px;
    text-align: right;
    position: absolute;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
}

  
.label > p {
    position: absolute;
    width: 880px;
    height: 213px;
    left: 160px;
    top: 496px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;

}

.buttons > button{
   background-color: black;
   color: white;
   font-size: 35px;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 10px;
   margin-right: 70px;
   cursor: pointer;
   width: 200px;
   height: 70px;

}

.buttons{
    padding-bottom: 50px;
}
  
.image > img  {
    position: absolute;
    width: 580px;
    height: 667px;
    left: 852px;
    top: 162px;
}
  
