.container{
    text-align: center;
}

.container {
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: #FFFFFF;color: white;

}

.label {
    width: 100%;
}

.label > h3 {
    position: absolute;
    width: 1205px;
    height: 84px;
    left: -385px;
    top: 218px;

    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 24px;
    /* or 38% */

    display: flex;
    text-align: left;
    letter-spacing: 0.2px;

    color: #000000;
}

.label > h2 {
    font-size: 64px;
    text-align: left;
    position: absolute;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
}

  
.label > p1 {
   
    left: 65px;
    top: 280px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    /* or 50% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-align: left;
    
    color: #000000;
    

}

.label > p2 {
    left: 290px;
    top: 482px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-align: left;
    
    color: #000000;

}
  
.image > img  {
    position: absolute;
    width: 659px;
    height: 667px;
    left: 904px;
    top: 366px;
    
    
}
  
