.container{
    font-family: 'Times New Roman', Times, serif;
}

.header > h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 24px;
    margin-left: 3rem;
    margin-top: 5rem;
    display: flex;
    text-align: left;
    letter-spacing: 0.2px;

    color: #000000;
}

.header > h2 {
    z-index: 90;
    font-size: 40px;
    text-align: left;
    
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;
    margin-left: 3rem;

    align-items: center;

    color: #000000;
}

.label {
    margin-top: 1rem;
    margin-left: 4rem;
}
.label1 > h2 {
    font-size: 40px;
    display: inline-block;
}

.label1 > p {
    display: inline-block;
    font-size: 40px;
    margin-left: 7%;
}

.label2 > h2 {
    font-size: 40px;
    display: inline-block;
}

.label2 > p {
    display: inline-block;
    font-size: 40px;
    margin-left: 9%;
}

.label2 > img {
    position: absolute;
    z-index: 0;
    right: 0px;
    bottom: 65px;
    width: 659px;
    height: 667px;
}

.label3 > h2 {
    font-size: 40px;
    display: inline-block;
}

.label3 > p {
    display: inline-block;
    font-size: 40px;
    margin-left: 1%;
}

