.container {
    display: flex;
    justify-content: space-between;
}
.dataz{
    width: 850px;
    text-align: center;
    margin-left: 3px;
}
.dataz h1{
    display: flex;
    font-size: 43px;
    font-family: 'Cormorant';
    background: rgba(217, 217, 217, 0.3);
}
.data{
    width: 850px;
    text-align: left;
    margin-left: 3px;
}
.data p3{
    display: flex;
    font-size: 40px;
    font-family: 'Cormorant';
}
.miney{
    width: 1000px;
    margin-right:80px;
}
.miney h1{
    font-size: 70px;
}

.miney ul{
    font-size: 40px;
}
.miney img{
    height: 550px;
    width: 1000px;
    text-align: center;
    margin-right:1000px;
  }
