.container{
    font-family: 'Times New Roman', Times, serif;
}

.container > p {
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 40px;
    margin-left: 5rem;
    font-weight: bold;
}

.pm1{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 16.5%;
}

.pm2{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

.pm3{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}

.container .pm1 img{
    height: 100px;
    width: 90.86px;
}

.container .pm2 img{
    height: 100px;
    width: 290px;
}

.container .pm3 img{
    height: 150px;
    width: 300px;
}


