.container {
  display: flex;
  margin: 36px;
  justify-content: space-between;
  align-items: center;

}
.logo > img{
  height: 169px;
  width: 250px;
  margin-left: 65px;
}

.navbarActions {
  display: flex;
  gap: 10px;
}

.burgerButton {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbarActions {
    display: none;
  }
}
