.container {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  align-items: center;
  

}
.logo > img{
  height: 129px;
  width: 210px;
  margin-left: 10px;
  margin-right: 5px;
}

.navbarActions {
  display: flex;
  gap: 2px;
  border-top: 5px solid #000;
  padding-top: 10px;
  border-bottom: 5px solid #000;
  padding-bottom: 14px;
  
}

.burgerButton {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbarActions {
    display: none;
  }
}
