.container p1{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.container{
  position: relative;
width: 1440px;
height: 1024px;
}
.container p2{
    font-size: 45px;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;

}

.h1{
position: absolute;
height: 84px;
left: 0px;

font-family: 'Cormorant';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 24px;
/* or 38% */

letter-spacing: 0.2px;
}

.h2{
  position: absolute;
left: 0px;
top: 100px;

font-family: 'Cormorant';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 24px;
/* or 48% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;
}

.h3{
  position: absolute;
  left: 122px;
  top: 200px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  /* or 80% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.h4{
  position: absolute;
  left: 122px;
  top: 300px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  /* or 80% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}
.h5{
  position: absolute;
  left: 122px;
  top:350px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  /* or 80% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.h6{
  position: absolute;
  left: 122px;
  top: 400px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  /* or 80% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.h7{
  position: absolute;
  left: 0px;
  top: 500px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 24px;
  /* or 69% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.h8{
  width: 896px;
  position: absolute;
  left: 28px;
  top: 550px;
  
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  /* or 96% */
  
  letter-spacing: 0.2px;
}


  .box {
    position: absolute;
    width: 550px;
    height: 300px;
    left: 943px;
    top: 584px;
    background-color: #d3d4d4;
    color: rgb(217, 217, 217, 0.6);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .box p{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.box p1{
  font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 24px;
align-items: center;
letter-spacing: 0.2px;
color: #000000;
}

.box p2{
  font-size: 20px;
  padding-left: 20px;
}

.gfg1 {
  width:auto;
  text-align:left;
  padding:10px;
  left: 20px;
}
.gfg1 img {
  width: 20%;
  height: 20%;
  object-fit: contain;
}
.gfg2 {
  width:auto;
  text-align:left;
  padding:10px;
  left: 20px;
}
.gfg2 img {
  width: 20%;
  height: 20%;
  object-fit: contain;
}

.gfg {
  width:auto;
  text-align:left;
  padding:10px;
  left: 20px;
}
.gfg img {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.gfg p1{
  position: absolute;
  left: 150px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.gfg2 p1{
  position: absolute;
  left: 150px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.gfg1 p1{
  position: absolute;
  left: 150px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
