.container {
      display: flex;
      justify-content: space-between;
}
.vision{
      width: 400px;
      text-align: center;
      margin-left: 100px;
      font-family: Cormorant;
}
.vision h1{
      font-size: 60px;
}

.vision p3{
      font-size: 30px;
}

.mission{
      width: 400px;
      font-family: Cormorant;
      text-align: center;
}
.mission h1{
      font-size: 60px;
}

.mission p3{
      font-size: 30px;
}

.goals{
      width: 555px;
      margin-right: 100px;
      font-family: Cormorant;
}
.goals ul{
      font-size: 30px;
}
.goals h1{
      font-size: 60px;
      text-align: center;
}